<div class="center hero-unit">
  <h1>Welcome to the Lytle Research Questionnaire</h1>
</div>

<h1>Consent</h1>
<p>Hello, my name is Murray Lytle and I am a PhD candidate at the Norman B. Keevil School of Mining at the University of British Columbia in Vancouver, British Columbia.   Having worked for a number of years in the resource development industry, I am very interested in the dynamics of the conflicts that occasionally arise between resource companies and other stakeholders to potential developments.  You have been directed to this website in order to assist me in collecting questionnaire information for my research.</p>

<p>First let me thank you for being willing to consider filling out this questionnaire as your participation in this research is highly valued.  It is important to me that you make an informed choice about taking part in this questionnaire as this will result in better quality data.  It is also important to me that you understand that you are free to not take part in this research or that, having started the questionnaire, you are free to stop at any point for whatever reason.  Simply navigating away from the questionnaire page will end your participation and no one will be the wiser.  Let me say a little more about this.  I do need to have some general information about you but I do not require any specific information about who you are.  As you will see below, you will not be asked for a name or email address or physical address or anything that could be used to identify you.  You will remain anonymous.</p>

<h1>Purpose of research</h1>
<p>This research is being conducted to determine if there is a relationship between the way in which individuals view how the world works and the positions they take with respect to resource development.  You will be asked to provide information about yourself that is general in nature and cannot be used to identify who you are.  This information includes:
</p>

<table class="survtable">
  <tr>
    <th class="lwidth">Information required</th>
    <th class="rwidth">Potential responses</th>
  </tr>
  <tr>
    <td class="lwidth">Your gender</td><td>male or female</td>
  </tr>
  <tr>
    <td class="lwidth">Your age category</td><td> 18 -  35 or 36 - 70</td>
  </tr>
  <tr>
    <td class="lwidth">Where you live</td><td> North America or South America</td>
  </tr>
  <tr>
    <td class="lwidth">What type of work you do</td><td>resource company or government or NGO or other</td>
  </tr>
  <tr>
    <td>Size of community (population)</td><td> <20,000 or 20,000 to 500,000 or over 500,000</td>
  </tr> 
</table>

<h1>Questionnaire</h1>

<p>
You will then be asked to fill out a 170 point questionnaire which will take approximately 15 minutes.  Please note that the research is based on getting your immediate responses to important issues which inform how you view the world and your role in it.  This is to say, that you should answer the questions quickly with the response that first comes to mind and should not spend time thinking through your possible responses.
</p>

<p>
The questions are focussed on 16 general topic areas and similar questions are asked in multiple ways in an attempt to understand the nuances of people s views of how the world works.  You may notice this repetition but you will not find a pattern, and for your own sanity, you are cautioned not to try to do so.  Just answer the questions quickly and move through the questionnaire from start to finish.
</p>

<h2>General directions</h2>
<p>
  <ul>
    <li> Remember that you can navigate away from the questionnaire at any time</li>
    <li> The questionnaire cannot be saved in order to return to it later on.  If you navigate away and later decide to complete it, you will have to start again from the beginning.</li>
  </ul>
</p>

<p>
By continuing to the next page of this website it is agreed that you: 
<ul>
  <li> have read the purpose of this research 
  <li> will not have to give any personal information that would connect my responses to my name</li>
  <li> can stop answering the questions at any time</li>
  <li> are comfortable participating in this research and answering the questionnaire</li>
</ul>
</p>

<p>
One final word before you decide to participate or not  If you go ahead and fill out the questionnaire and decide that you would like more information about the results of the research I will be happy to provide you with a copy of the research discussion (tentatively scheduled for March 2013).  To this end you will find my contact details at the end of the questionnaire so please feel free to write to me with your request and I will be happy to oblige you.  
</p>

<p>
Thank you for your consideration of my research project!
</p>

<p>
Murray Lytle, P.Eng.</br>
June 2012
</p>

<div class=center hero-unit>
  <a href="consents/accept", class="btn btn-large btn-primary">I accept</a>
</div>
