<div class="center hero-unit">
  <h1>Welcome to the Lytle Research Questionnaire</h1>
</div>

<h1>Consent</h1>
<p>Hola. Mi nombre es Murray Lytle y soy candidato al doctorado en la Escuela de Minas Norman B. Keevil de la Universidad de British Columbia en Vancouver, British Columbia. Habiendo trabajado por un buen número de años en la industria de desarrollo de recursos estoy muy interesado en la dinámica de conflictos que ocasionalmente surgen entre  las empresas en el rubro y las demás partes interesadas en un desarrollo potencial de recursos. Ud. se encuentra en este sitio web con el  fin de colaborar conmigo en la recolección de información para mi investigación.</p>

<p>En primer lugar, permítame agradecer su gentil disposición para contestar este cuestionario,  su participación en esta investigación es muy valiosa. Es muy importante para mí que Ud. realice una elección informada al decidir tomar parte en este proceso, pues ello dará como resultado datos de mejor calidad. Es también importante que comprenda que es libre de elegir no participar de esta investigación o que, habiendo comenzado el cuestionario, decida detenerlo por las razones que crea pertinentes. Simplemente saliendo de la página,  su participación se dará por terminada sin riesgo alguno para Ud. Permítame explicar este último punto con más detalle. Necesito obtener alguna información general sobre Ud. pero no requiero ningún tipo de información específica sobre quién es. Como verá a continuación, no se le solicita su nombre, correo electrónico,  dirección o cualquier otro dato que pudiera facilitar identificarlo. Su identidad permanecerá anónima.</p>

<h1>Propósito de la investigación</h1>
<p>La presente investigación busca determinar si existe algún tipo de relación entre la forma en que los individuos perciben el funcionamiento del mundo y las posturas que asumen respecto a la explotación de los recursos. Se le pedirá brindar información general sobre sí mismo que no puede ser usada para identificarlo. Esta información incluye:
</p>

<table class="survtable">
  <tr>
    <th class="lwidth">Información requerida</th>
    <th class="rwidth">Respuestas Potenciales</th>
  </tr>
  <tr>
    <td class="lwidth">Sexo</td><td>masculino o femenino</td>	
  </tr>
  <tr>
    <td class="lwidth">Categoría de edad</td><td> 18 -  35 &oacute; 36 - 70</td>
  </tr>
  <tr>
    <td class="lwidth">Lugar de residencia</td><td>norteamérica o sudamérica</td>
  </tr>
  <tr>
    <td class="lwidth">ipo de ocupación</td><td>Empresa, gobierno, ONG , otros</td>
  </tr>
  <tr>
    <td>Tamaño de la comunidad
(población)</td><td> <20,000 o 20,000 a 500,000 o más de 500,000</td>
  </tr> 
</table>

<h1>Cuestionario</h1>

<p>
Posteriormente se le solicitará completar un cuestionario de 143 puntos que toma aproximadamente 15 minutos. Por favor, tenga en cuenta que la investigación está basada en sus respuestas inmediatas a cuestiones importantes que proporcionan información sobre su percepción del mundo y su papel en el. Esto significa que debe contestar las preguntas rápidamente con la respuesta que primero venga a su mente sin gastar tiempo pensando en sus posibles respuestas.
</p>

<p>
Las preguntas se centran en 16 áreas temáticas generales y se formularán preguntas similares en diversas formas en un intento por comprender los matices presentes en la visión que tienen las personas sobre el funcionamiento del mundo. Ud. notará esta repetición pero no encontrará un patrón, y por su propia salud, se le recomienda no hacerlo. Por favor, limítese a responder las preguntas rápidamente y completar el cuestionario de principio a fin.
</p>

<h2>Indicaciones Generales</h2>
<p>
  <ul>
    <li> Recuerde que puede salir del cuestionario en cualquier momento</li>
    <li> El cuestionario no puede ser guardado para ser respondido posteriormente. Si sale de la     aplicación y luego decide retornar para completarlo, tendrá que comenzar todo el proceso desde el principio.</li>
  </ul>
</p>

<p>
Al continuar con la siguiente página de este sitio web se acuerda que Ud.:
<ul>
  <li> Ha leído el propósito de esta investigación. 
  <li> No tendrá que dar ningún tipo de información personal que pudiera conectar sus respuestas con su nombre.</li>
  <li> Puede dejar de responder las preguntas en cualquier momento.</li>
  <li> Está de acuerdo con participar en esta investigación y responder el cuestionario.</li>
</ul>
</p>

<p>
Finalmente antes de que decida si participa o no.. Si opta por seguir adelante y completar el cuestionario y le gustaría tener más información sobre los resultados de esta investigación estaré muy complacido de proveerle una copia del debate de la investigación (tentativamente programado para Marzo 2013). Para este fin encontrará mis detalles de contacto al final del cuestionario. Por favor, siéntase libre de escribirme con su requerimiento que estaré muy feliz de complacerlo.
</p>

<p>
Gracias por su consideración de mi proyecto de investigación!
</p>

<p>
Murray Lytle, P.Eng.</br>
Junio 2012
</p>

<div class=center hero-unit>
  <a href="consents/accept", class="btn btn-large btn-primary">I accept</a>
</div>
