<div class="center hero-unit">
  <h1>Survey Successfully Completed</h1>
</div>

<h1>Consent</h1>
<p>Thank you for taking the time to complete the questionnaire.</p>

<p>
Murray Lytle, P.Eng.</br>
Email: mlytle@example.com
June 2012
</p>

